/* Ensure the hamburger icon and navbar styles are visible and properly adjusted */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e0e5ec;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
    background-image: url("../assets/images/interaction1.png");
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    color: #1C4483;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    color: #008AFC;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  button div {
    background-color: #1C4483;
    transition: background-color 0.3s;
  }
  
  button:hover div {
    background-color: #008AFC;
  }
  
  .md\:hidden {
    display: none;
  }
  
  .md\:flex {
    display: flex;
  }
  
  .md\:hidden {
    display: block;
  }
  
  @media (min-width: 768px) {
    .md\:hidden {
      display: none;
    }
  
    .md\:flex {
      display: flex;
    }
  }
  
  @media (max-width: 767px) {
    .md\:hidden {
      display: block;
    }
  
    .md\:flex {
      display: none;
    }
  }
  